{:paths ["src" "resources"]
 :deps {reagent/reagent {:mvn/version "1.1.1"}}

 :aliases
 {:nextjournal/clerk
  {:extra-paths ["dev"]
   :extra-deps
   {org.clojure/clojure       {:mvn/version "1.11.1"}
    org.clojure/clojurescript {:mvn/version "1.11.60"}
    org.mentat/clerk-utils    {:mvn/version "0.4.1"}
    org.mentat/leva.cljs      {:mvn/version "0.2.2"}

    io.github.nextjournal/clerk
    {:local/root "/Users/borkdude/dev/clerk"}
    #_{:git/sha "73891f49e37bb21f3f4fffa152c3f7b0713f8d05"}
    io.github.nextjournal/clerk.render
    #_{:git/url "https://github.com/nextjournal/clerk"
     :git/sha "73891f49e37bb21f3f4fffa152c3f7b0713f8d05"
       :deps/root "render"}
    {:local/root "/Users/borkdude/dev/clerk/render"}
    io.github.squint-cljs/cherry {;; :git/sha "c1e04ad14a6ca8787b5fcaf645ff5e0372ac535d"
                                  :local/root "/Users/borkdude/dev/cherry"
                                  :exclusions [io.github.squint-cljs/squint]} #_{:git/sha "8e01c2c38eea3aba37431da54184dbfd2a3b3951"}
    io.github.squint-cljs/squint {;; :git/sha "de698509bbf23d0e716a8baeda50204190da7cb2"
                                  :local/root "/Users/borkdude/dev/squint"}}
   :jvm-opts ["-Dclerk.resource_manifest={\"/js/viewer.js\" \"/js/viewer.js\"}"]
   :exec-fn user/build!}

  :build
  {:deps {io.github.clojure/tools.build {:git/tag "v0.8.2" :git/sha "ba1a2bf"}
          slipset/deps-deploy {:mvn/version "0.2.0"}}
   :ns-default build}}}
