{:paths ["src" "resources"]
 :deps {reagent/reagent {:mvn/version "1.1.1"}}

 :aliases
 {:nextjournal/clerk
  {:extra-paths ["dev"]
   :extra-deps
   {org.clojure/clojure       {:mvn/version "1.11.1"}
    org.clojure/clojurescript {:mvn/version "1.11.60"}
    org.mentat/clerk-utils    {:git/sha "1e0c4473073cadb35f938c6cea5dceeb3f5f95bd"
                               :git/url "https://github.com/mentat-collective/clerk-utils"} #_{:mvn/version "0.4.1"}
    org.mentat/leva.cljs      {:mvn/version "0.2.2"}

    io.github.nextjournal/clerk
    #_{:local/root "/Users/borkdude/dev/clerk"}
    {:git/sha "4b959dff5c26d0edba14456f2061ec639af7f11b"}
    io.github.nextjournal/clerk.render
    #_{:local/root "/Users/borkdude/dev/clerk/render"
     :deps/root "render"}
    {:git/sha "4b959dff5c26d0edba14456f2061ec639af7f11b"
     :git/url "https://github.com/nextjournal/clerk"
     :deps/root "render"}}
   :jvm-opts ["-Dclerk.resource_manifest={\"/js/viewer.js\" \"/js/viewer.js\"}"]
   :exec-fn user/build!}

  :build
  {:deps {io.github.clojure/tools.build {:git/tag "v0.8.2" :git/sha "ba1a2bf"}
          slipset/deps-deploy {:mvn/version "0.2.0"}}
   :ns-default build}}}
